#   compiled pytohn files
*.pyc
*.pyo
# temp office files
*.tmp
~$*.*
~$monstration.docx
~$oject Notes.docx
# literature
*.pdf
# dumps from dolphin
*.jpg
*.png
*.avi
*.log
*.csv
# venv
venv/
Evaluation/data/
Evaluation/plots/
Information Base/
RL/Rainbow/rainbow_venv/
RL/Rainbow/__pycache__/
Diss/Figures/
Literature/